{% extends "base.html" %}

{% block css_block %}
<!-- Gallery css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}">

<!-- Form css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}
{% if images|length == 0 %}
<div class="confirm-delete">
	<div class="main-form delete-form">
		<form method="POST" action="" novalidate>
			<h1 style="color: #F00; text-align: center;">No images to delete!</h1>
		</form>
	</div>
</div>
{% else %}
<div class="confirm-delete">
	<div class="main-form delete-form">
		<form method="POST" action="" novalidate>
			<h1 style="color: #F00">Are you sure you want to delete the following images?</h1>


			<div class="submit-btn">
				<a href="{{url_for('imager.load_user_profile')}}" class="cancel-btn">Cancel</a>
				<input type="submit" value="Delete">
			</div>
		</form>
	</div>
</div>

<div class="gallery-container">
	<div class="gallery-section">
		{% for image in images %}
		<div class="gallery-image">
			<div class="image-thumbnail">
				<img src="{{ url_for('imager.load_thumbnail_by_id', image_id=image.file_id) }}">

				<!-- Image Overlay -->
				<div class="image-overlay-bottom">
					<div class="image-label">{{image.title}}</div>
					
					<div class="image-metric">
						<div class="metric-section">
							{% if image.personal_vote and image.personal_vote == 1 %}
							<a href="javascript:void(0)" class="upvote-selected disabled">
								<span><i class="fa fa-arrow-up"></i></span>
							</a>
							{% else %}
							<a href="javascript:void(0)" class="upvote disabled">
								<span><i class="fa fa-arrow-up"></i></span>
							</a>
							{% endif %}	
						</div>

						<div class="metric-section">
							<span class="total-score disabled">{{image.voter_count["total"]}}</span>
						</div>

						<div class="metric-section">
							{% if image.personal_vote and image.personal_vote == -1 %}
							<a href="javascript:void(0)" class="downvote-selected disabled">
								<span><i class="fa fa-arrow-down"></i></span>
							</a>
							{% else %}
							<a href="javascript:void(0)" class="downvote disabled">
								<span><i class="fa fa-arrow-down"></i></span>
							</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}

{% block js_block %}
<script type="text/javascript">
	window.onload = adjust_gallery_width();

	//listen for window resize event
	window.addEventListener('resize', function(event) {
		adjust_gallery_width();
	})

	function adjust_gallery_width() {
		let margin = 10; // Margin of gallery image
		let image_width = 240; // Thumbnail width of images

		var gallery_container = document.getElementsByClassName('gallery-section');
		gallery_width = gallery_container[0].offsetWidth;
		console.log("Old Width: ", gallery_width)
		var maxBoxPerRow = Math.floor(gallery_width / (image_width + (margin * 2)));
		new_gallery_width = (maxBoxPerRow * (image_width + (margin * 2)));
		console.log("New width: ", new_gallery_width);
		if (gallery_width == new_gallery_width) {
			/* Hack to make gallery resize when screen size increases */
			gallery_container[0].style.width = "100%"
			adjust_gallery_width();
		} else {
			gallery_container[0].style.width = new_gallery_width + 'px';
		}
	}
</script>
{% endblock %}