{% extends "base.html" %}

{% block meta_block %}
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block css_block %}
<!-- Gallery css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}">

<!-- Form css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}
<!-- Image Container -->
<div class="image-container">

	{% import 'imager/macros/gallery_section.html' as gallery %}
	{{ gallery.gallery_modal(url_for('imager.load_image_by_id', image_id=image.file_id)) }}

	<div class="image-section">
		<!-- Image Details -->
		<div class="image-details">
			<div class="image-title" style="height: 100%; text-align: center;">
				<h1 style="margin: 0;">Edit Gallery</h1>
			</div>
		</div>

		<div class="main-form edit-form">
			<form method="POST" action="{{ url_for('imager.edit_gallery', image_id=image.file_id) }}" novalidate>
			    {{ form.csrf_token }}

			    <div class="image-panel" onclick="original_image()">
					<img src="{{ url_for('imager.load_image_by_id', image_id=image.file_id) }}" style="height:500px">
				</div>
				<input id="file" name="file" type="hidden" value="{{ url_for('imager.load_image_by_id', image_id=image.file_id) }}">

			    {{ form.title.label }}{{ form.title(size=20, placeholder="Image Title") }}
			    {% if form.title.errors %}
			    <ul class="errors">
			    {% for error in form.title.errors %}
			        <li>{{ error }}</li>
			    {% endfor %}
			    </ul>
				{% endif %}


				<div class="submit-btn" id="login-submit">
					{{ form.change() }}
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript" src="{{ url_for('static', filename='js/gallery.js') }}"></script>

<script type="text/javascript">
	// Gets the image modal
	var modal = document.getElementById("image-modal");
	var modal_content = document.getElementById("image-modal-content");
	var orig_img = document.getElementById("image-original")
	var close_btn = document.getElementById("image-modal-close")

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  	if (event.target == modal_content || event.target == orig_img || event.target == close_btn) {
	    	modal.style.display = "none";
	  	}
	}

	// Show original image zoom in
	function original_image() {
		modal.style.display = "block";
	}
</script>
{% endblock %}