{% extends "base.html" %}

{% block css_block %}
<!-- Gallery css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}">

<!-- Form css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}
<!-- Image Container -->
<div class="image-container">
	<!-- Image Modal -->
	<div id="image-modal" class="modal">
		<div id="image-modal-content" class="modal-content">
			<img id="image-original" src="{{ url_for('imager.load_image_by_id', image_id=image.file_id) }}" />

			<span class="close-modal" id="image-modal-close">
				&#10799;
			</span>
		</div>
	</div>

	<div class="image-section">
		<!-- Image Details -->
		<div class="image-details" style="height: auto">
			<div class="image-title">
				<span>Edit Gallery</span>
			</div>
		</div>

		<div class="main-form edit-form">
			<form method="POST" action="{{ url_for('imager.edit_gallery', image_id=image.file_id) }}" novalidate>
			    {{ form.csrf_token }}

			    <div class="image-panel" onclick="original_image()">
					<img src="{{ url_for('imager.load_image_by_id', image_id=image.file_id) }}">
				</div>
				<input id="file" name="file" type="hidden" value="{{ url_for('imager.load_image_by_id', image_id=image.file_id) }}">

			    {{ form.title.label }}{{ form.title(size=20, placeholder="Image Title") }}
			    {% if form.title.errors %}
			    <ul class="errors">
			    {% for error in form.title.errors %}
			        <li>{{ error }}</li>
			    {% endfor %}
			    </ul>
				{% endif %}


				<div class="submit-btn" id="login-submit">
					{{ form.change() }}
				</div>
			</form>
		</div>

		
	</div>
</div>
{% endblock %}

{% block js_block %}

<script type="text/javascript">
	// Gets the image modal
	var modal = document.getElementById("image-modal");
	var modal_content = document.getElementById("image-modal-content");
	var orig_img = document.getElementById("image-original")
	var close_btn = document.getElementById("image-modal-close")

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  	if (event.target == modal_content || event.target == orig_img || event.target == close_btn) {
	    	modal.style.display = "none";
	  	}
	}

	// Show original image zoom in
	function original_image() {
		modal.style.display = "block";
	}
</script>

{% if not current_user.is_anonymous %}
<!-- Gallery js -->
<script>
	let csrf_token='{{csrf_token()}}';
	let upvote_url = "{{ url_for('imager.upvote_counter') }}";
	var downvote_url = "{{ url_for('imager.downvote_counter') }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/gallery.js') }}"></script>
{% endif %}
{% endblock %}