{% extends "base.html" %}

{% block css_block %}
<!-- Gallery css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

{% block content %}

{% if image|length == 0 %}
<div class="no-gallery-container">
	<div class="no-image">
		<span>No images uploaded.</span>
	</div>
</div>
{% else %}
<div class="gallery-container">
	<!-- Image Modal -->
	<div id="image-modal" class="modal">
		<div id="image-modal-content" class="modal-content">
			<img id="image-original" src="{{ url_for('imager.load_image_by_id', image_id=image.file_id) }}" />

			<span class="close-modal" id="image-modal-close">
				&#10799;
			</span>
		</div>
	</div>

	<!-- Image Container -->
	<div class="image-container">
		{% if current_user.is_anonymous %}
		<div class="image-metric">
			<div class="metric-section">
				<a href="{{ url_for('auth.login') }}" id="upvote-{{image.file_id}}" class="upvote">
					<span><i class="fa fa-arrow-up"></i></span>
				</a>
			</div>

			<div class="metric-section">
				<span id="total-val-{{image.file_id}}" class="total-score">{{image.voter_count["total"]}}</span>
			</div>

			<div class="metric-section">
				<a href="{{ url_for('auth.login') }}" id="downvote-{{image.file_id}}" class="downvote">
					<span><i class="fa fa-arrow-down"></i></span>
				</a>
			</div>
		</div>

		{% else %}
		<div class="image-metric">
			<div class="metric-section">
				{% if image.personal_vote and image.personal_vote == 1 %}
				<a href="javascript:void(0)" id="upvote-{{image.file_id}}" class="upvote-selected" onclick="upvote('{{image.file_id}}')">
					<span><i class="fa fa-arrow-up"></i></span>
				</a>
				{% else %}
				<a href="javascript:void(0)" id="upvote-{{image.file_id}}" class="upvote" onclick="upvote('{{image.file_id}}')">
					<span><i class="fa fa-arrow-up"></i></span>
				</a>
				{% endif %}
			</div>

			<div class="metric-section">
				<span id="total-val-{{image.file_id}}" class="total-score">{{image.voter_count["total"]}}</span>
			</div>

			<div class="metric-section">
				{% if image.personal_vote and image.personal_vote == -1 %}
				<a href="javascript:void(0)" id="downvote-{{image.file_id}}" class="downvote-selected" onclick="downvote('{{image.file_id}}')">
					<span><i class="fa fa-arrow-down"></i></span>
				</a>
				{% else %}
				<a href="javascript:void(0)" id="downvote-{{image.file_id}}" class="downvote" onclick="downvote('{{image.file_id}}')">
					<span><i class="fa fa-arrow-down"></i></span>
				</a>
				{% endif %}
			</div>
		</div>
		{% endif %}

		<div class="image-section">
			<!-- Image Details -->
			<div class="image-details">
				<div class="image-title">
					<span>{{image.title}}</span>
				</div>
				<div class="image-uploader">
					<span>
						Uploaded by: <a href="{{ url_for('imager.load_images_by_username', username=image.uploaded_by) }}">{{image.uploaded_by}}</a>
					</span>
				</div>
			</div>
			<div class="image-panel" onclick="original_image()">
				<img src="{{ url_for('imager.load_image_by_id', image_id=image.file_id) }}">
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block js_block %}

<script type="text/javascript">
	// Gets the image modal
	var modal = document.getElementById("image-modal");
	var modal_content = document.getElementById("image-modal-content");
	var orig_img = document.getElementById("image-original")
	var close_btn = document.getElementById("image-modal-close")

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  	if (event.target == modal_content || event.target == orig_img || event.target == close_btn) {
	    	modal.style.display = "none";
	  	}
	}

	// Show original image zoom in
	function original_image() {
		modal.style.display = "block";
	}
</script>

{% if not current_user.is_anonymous %}
<!-- Gallery js -->
<script>
	let csrf_token='{{csrf_token()}}';
	let upvote_url = "{{ url_for('imager.upvote_counter') }}";
	var downvote_url = "{{ url_for('imager.downvote_counter') }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/gallery.js') }}"></script>
{% endif %}
{% endblock %}