{% extends "base.html" %}

{% block content %}
	<h1>{{image.name}}</h1>

	<div>
		<div>
			<img src="{{ url_for('imager.load_image_by_id', image_id=image.file_id) }}" style="width:800px">
		</div>

		<div>
			{% if current_user.is_anonymous %}
			<button type="button" onclick="window.location.href = '{{url_for('auth.login')}}';"><span>+</span></button>
			<span id="metric">{{image_metric.total}}</span>
			<button type="button" onclick="window.location.href = '{{url_for('auth.login')}}';"><span>-</span></button>
			{% else %}
			<button type="button" onclick="upvote()"><span>+</span></button>
			<span id="metric">{{image_metric.total}}</span>
			<button type="button" onclick="downvote()"><span>-</span></button>
			{% endif %}
		</div>
	</div>

	<script type="text/javascript">
		{% if not current_user.is_anonymous %}
		var csrf_token = "{{ csrf_token() }}";
		function upvote() {
			var url = "{{ url_for('imager.upvote_counter') }}"
			var xhttp = new XMLHttpRequest();
			xhttp.onload  = function() {
				var jsonResponse = JSON.parse(this.responseText);
				document.getElementById("metric").innerHTML = jsonResponse["total"];
			};
			xhttp.open("POST", url, true);
		  	xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		  	xhttp.setRequestHeader("X-CSRFToken", csrf_token)
		  	xhttp.send("image_id={{image.file_id}}");
		}

		function downvote() {
			var url = "{{ url_for('imager.downvote_counter') }}"
			var xhttp = new XMLHttpRequest();
		  	xhttp.onload  = function() {
				var jsonResponse = JSON.parse(this.responseText);
				document.getElementById("metric").innerHTML = jsonResponse["total"];
			}
		  	xhttp.open("POST", url, true);
		  	xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		  	xhttp.setRequestHeader("X-CSRFToken", csrf_token)
		  	xhttp.send("image_id={{image.file_id}}");
		}
		{% endif %}
	</script>
{% endblock %}