{% extends "base.html" %}

{% block meta_block %}
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block css_block %}
<!-- Gallery css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

{% block middle_nav_options %}
{% import 'imager/macros/search.html' as search %}
{{ search.search_section() }}
{% endblock %}

{% block content %}
{% if image|length == 0 %}
<div class="no-gallery-container">
	<div class="no-image">
		<span>No images uploaded.</span>
	</div>
</div>
{% else %}
<div class="gallery-container">
	{% import 'imager/macros/gallery_section.html' as gallery %}
	{{ gallery.gallery_modal() }}

	<!-- Image Container -->
	<div class="image-container">
		{% set metric_data = {
			'is_anon': current_user.is_anonymous,
			'total_score': image.voter_count["total"],
			'image_id': image.file_id,
			'personal_vote': image.personal_vote,
			'login_url': url_for('auth.login') + '?next=' + url_for(request.endpoint, image_id=image.file_id),
			'upvote_link': url_for('imager.upvote_counter'),
			'downvote_link': url_for('imager.downvote_counter')
		} %}

		<div class="image-metric">
		{{ gallery.vote_section(metric_data) }}
		</div>
		<div class="image-section">
			<!-- Image Details -->
			<div class="image-details">
				<div class="image-title">
					<span>{{image.title}}</span>
				</div>

				<div class="image-uploader">
					<span>
						Uploaded by: <a href="{{ url_for('imager.load_images_by_username', username=image.uploaded_by) }}">{{image.uploaded_by}}</a> <span>&#183;</span> <span id="time-diff"></span>
					</span>
				</div>
			</div>

			<div class="image-panel" id="image-panel" onclick="load_picture_modal(this)">
				<img src="{{ url_for('imager.load_image_by_id', image_id=image.file_id) }}" alt="{{image.title}}">
			</div>

			<!-- Image Description -->
			<div class="image-description">
				{{image.description}}
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block js_block %}
<script type="text/javascript" src="{{ url_for('static', filename='js/gallery.js') }}"></script>

<script type="text/javascript">
	window.onload = function() {
		input_elem = document.getElementById("gallery-search-input");
		if (input_elem != undefined) {
			input_elem.addEventListener('keyup', delay(function() {
				suggest(
					this.value,
					"{{ url_for('api.search', search_value='') }}",
					"{{ url_for('imager.load_gallery_image', image_id='')}}",
					"{{ url_for('imager.load_images_by_username', username='')}}"
				)
			}, 500));

			input_elem.addEventListener('focusin', function() {
				if (this.value != "") {
					open_suggestion();
				}
			});
		}

		/* 
		Computes time difference when image was uploaded and now and
		updates the time-diff span element every 5 minutes.
		*/
		setInterval(time_diff("{{image.upload_date}}"), 300000);
	}

	document.onclick = function(event) {
		if (event.target.id != "search-dropdown" && event.target.id != "gallery-search-input") {
			close_suggestion();
		}
	}

	function millisecondsToStr(milliseconds) {
		function numberEnding (number) {
	        return (number > 1) ? 's' : '';
	    }

	    let seconds = Math.floor(milliseconds / 1000);

	    let year =  Math.floor(seconds / 31556952);
	    if (year > 0) return false;
	    
	    let month = Math.floor(seconds / 2629746);
	    if (month > 0) return false
	    
	    let days = Math.floor(seconds / 86400);
	    if (days > 0) return days + " day" + numberEnding(days) + " ago";

	    let hours = Math.floor(seconds / 3600);
	    if (hours > 0) return hours + " hour" + numberEnding(hours) + " ago";

	    let minutes = Math.floor(seconds / 60);
	    if (minutes > 0) return minutes + " minute" + numberEnding(minutes) + " ago";

	    return 'just now' //or other string you like;
	}

	function time_diff(image_upload_time) {
		if(image_upload_time != "") {
			// Computes time difference of image upload datetime.
			time_diff_elem = document.getElementById("time-diff");
			
			// Converts upload time to milliseconds (Unix epoch time).
			image_time = new Date(image_upload_time);

			// Current time in milliseconds(Unix epoch time).
			current_time = new Date();

			// Millisecond difference.
			ms_diff = current_time - image_time;

			// Changes text of time-diff span element to show time based on time difference.
			message_time_diff = millisecondsToStr(ms_diff);
			if(message_time_diff == false) {
				document.getElementById("time-diff").textContent = " on " + image_time.toDateString();
			} else {
				document.getElementById("time-diff").textContent = "  " + message_time_diff;
			}
		}
	}
</script>
{% endblock %}