{% extends "base.html" %}

{% block css_block %}
<!-- Gallery css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

{% block content %}
{% if images|length == 0 %}
<div class="no-gallery-container">
	<div class="no-image">
		<span>No images uploaded.</span>
	</div>
</div>
{% else %}
<div class="gallery-container">
	<div class="gallery-section">
		{% for image in images %}
		<div class="gallery-image">
			<a class="gallery-link" href="{{ url_for('imager.load_gallery_image', image_id=image.file_id) }}">
				<div class="image-thumbnail">
					<img src="{{ url_for('imager.load_thumbnail_by_id', image_id=image.file_id) }}">
					
					<!-- Image Overlay -->
					<div class="image-overlay-bottom">
						<div class="image-label">{{image.title}}</div>
						
						<div class="image-metric">
							{% if current_user.is_anonymous %}
							<div class="metric-section">
								<a href="{{ url_for('auth.login') }}" id="upvote-{{image.file_id}}" class="upvote">
									<span><i class="fa fa-arrow-up"></i></span>
								</a>
							</div>

							<div class="metric-section">
								<span id="total-val-{{image.file_id}}" class="total-score">{{image.voter_count["total"]}}</span>
							</div>

							<div class="metric-section">
								<a href="{{ url_for('auth.login') }}" id="downvote-{{image.file_id}}" class="downvote">
									<span><i class="fa fa-arrow-down"></i></span>
								</a>
							</div>
							{% else %}

							<div class="metric-section">
								{% if image.personal_vote and image.personal_vote == 1 %}
								<a href="javascript:void(0)" id="upvote-{{image.file_id}}" class="upvote upvote-selected" onclick="upvote(this)">
									<span><i class="fa fa-arrow-up"></i></span>
								</a>
								{% else %}
								<a href="javascript:void(0)" id="upvote-{{image.file_id}}" class="upvote" onclick="upvote(this)">
									<span><i class="fa fa-arrow-up"></i></span>
								</a>
								{% endif %}	
							</div>

							<div class="metric-section">
								<span id="total-val-{{image.file_id}}" class="total-score">{{image.voter_count["total"]}}</span>
							</div>

							<div class="metric-section">
								{% if image.personal_vote and image.personal_vote == -1 %}
								<a href="javascript:void(0)" id="downvote-{{image.file_id}}" class="downvote downvote-selected" onclick="downvote(this)">
									<span><i class="fa fa-arrow-down"></i></span>
								</a>
								{% else %}
								<a href="javascript:void(0)" id="downvote-{{image.file_id}}" class="downvote" onclick="downvote(this)">
									<span><i class="fa fa-arrow-down"></i></span>
								</a>
								{% endif %}
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript">
	window.onload = function() {
		adjust_gallery_width();
		text_overflow("image-label");
	}

	//listen for window resize event
	window.addEventListener('resize', function(event) {
		adjust_gallery_width();
	})

	function adjust_gallery_width() {
		let margin = 10; // Margin of gallery image
		let image_width = 240; // Thumbnail width of images

		var gallery_container = document.getElementsByClassName('gallery-section');
		gallery_width = gallery_container[0].offsetWidth;
		console.log("Old Width: ", gallery_width)
		var maxBoxPerRow = Math.floor(gallery_width / (image_width + (margin * 2)));
		new_gallery_width = (maxBoxPerRow * (image_width + (margin * 2)));
		console.log("New width: ", new_gallery_width);
		if (gallery_width == new_gallery_width) {
			/* Hack to make gallery resize when screen size increases */
			gallery_container[0].style.width = "100%"
			adjust_gallery_width();
		} else {
			gallery_container[0].style.width = new_gallery_width + 'px';
		}
	}
</script>

{% if not current_user.is_anonymous %}
<!-- Gallery js -->
<script>
	let csrf_token='{{csrf_token()}}';
	let upvote_url = "{{ url_for('imager.upvote_counter') }}";
	var downvote_url = "{{ url_for('imager.downvote_counter') }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/gallery.js') }}"></script>
{% endif %}
{% endblock %}
