{% extends "base.html" %}

{% block meta_block %}
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block css_block %}
<!-- Gallery css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

{% block content %}
{% if images|length == 0 %}
<div class="no-gallery-container">
	<div class="no-image">
		<span>No images uploaded.</span>
	</div>
</div>
{% else %}
<!-- Gallery Section -->
{% import 'imager/macros/gallery_section.html' as gallery %}
<div class="gallery-container">
	<div class="gallery-section">
	{% for image in images %}
		{% call gallery.gallery_section(url_for('imager.load_gallery_image', image_id=image.file_id)) %}

		<!-- Thumbnail Image -->
		<img src="{{ url_for('imager.load_thumbnail_by_id', image_id=image.file_id) }}">

		<!-- Overlay -->
		<div class="image-overlay-bottom">
			<div class="image-label">{{image.title}}</div>
			{% set metric_data = {
				'is_anon': current_user.is_anonymous,
				'total_score': image.voter_count["total"],
				'image_id': image.file_id,
				'personal_vote': image.personal_vote,
				'login_url': url_for('auth.login'),
				'upvote_link': url_for('imager.upvote_counter'),
				'downvote_link': url_for('imager.downvote_counter')
			} %}
			{{ gallery.vote_section(metric_data) }}
		</div>
		{% endcall %}
	{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}

{% block js_block %}
<script type="text/javascript" src="{{ url_for('static', filename='js/gallery.js') }}"></script>

<script type="text/javascript">
	window.onload = function() {
		adjust_gallery_width();
		text_overflow("image-label");
	}

	// Listen for window resize event.
	window.addEventListener('resize', function(event) {
		adjust_gallery_width();
	})
</script>
{% endblock %}
