/* Phone Screens */
@media only screen and (min-device-width: 280px) and (max-device-width: 812px) {
	.about-section {
	  	width: 100% !important;
	  	
	}

	.about-container {
		padding: 2em !important;
	}
}

.about-container {
	width: 100%;
}

.about-section {
	padding: 1em;
	overflow-y: auto;
	min-height: 70vh;
  	width: 100%;
  	margin: 2em auto;
  	border-radius: 10px;
  	background-color: #F5F5F5;
  	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
