/* Phone Screens */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
	.about-section {
	  	width: 100% !important;
	}
}

.about-container {
	width: 100%;
}

.about-section {
	padding: 1em;
	overflow-y: auto;
	height: 30em;
  	width: 60em;
  	margin: 2em auto;
  	border-radius: 10px;
  	background-color: #F5F5F5;
  	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
