/* Hides the search and login menu options */
#main-search-options, #main-login-options {
    visibility: hidden;
}

/**********************************************************
        Login, Registration and Forgot credentials Forms
***********************************************************/
.centered-form {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.main-form {
    background-color: #FFF;
    border: 1px solid;
    border-radius: 0.5em;
    padding: 2em;
    width: 30em;
}

.form-title {
    margin: 0;
    padding-bottom: 0.4em;
    text-align: center;
}

#login-options {
    display: inline-block;
    padding-top: 0.7em;
}

#login-options span:not(:last-of-type) {
    margin-right: 0.7em;
}

.separator {
    border-left: 1px solid #808080;
}

#login-form #login-options a {
    color: #808080;
    text-decoration-line: none;
}

#login-form #login-options a:hover {
    color: #000;
    text-decoration-line: underline;
}

.main-form form .submit-btn input {
    background-color: #5C69FF;
    border: none;
    border-radius: 10px;
    color: #FFF;
    padding: 1em 2em;
    cursor: pointer;
    float: right;
}

.main-form form input[type="text"],
.main-form form input[type="password"],
.main-form form input[type="email"] {
    width: 100%;
    margin: 0.4em 0;
    border-radius: 10px;
    border-color: #EBECF0;
    height: 2.5em;
    padding: 0 1em;
}

.errors li {
    color: #F00;
}

/**********************************************************
                        Edit Form
***********************************************************/
.hide {
    display: none;
}

.show {
    display: block !important;
}

.edit-form {
    width: 100%;
    padding: 1em;
    border-radius: 0 0 0.5em 0.5em;

    display: flex;
    justify-content: center;
}

.edit-form .image-panel {
    margin-bottom: 1em;
}

.edit-form label {
    font-weight: bolder;
}

.confirm-delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel-btn {
    padding: 0.7em 2em;
    color: white;
    background-color: #0F0;
    text-decoration-line: none;
    border-radius: 10px;
    display: inline-block;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: #FFF !important;
}

.form-container {
    /*display: none;*/
    z-index: 1002;
    background-color: #FFF;
    border: 1px solid;
    border-radius: 0.5em;
    padding: 1em;
    width: 50%;
    min-width: 55em;
}

.form-container form .action-btn input {
    background-color: #5C69FF;
    border: none;
    border-radius: 10px;
    color: #FFF;
    padding: 1em 2em;
    cursor: pointer;
}

.form-container form .action-btn input[value="Delete"] {
    background-color: #F00;
}