/* Hides the search and login menu options */
#main-search-options, #main-login-options {
    visibility: hidden;
}

/* Navigate to dashboard link */
.home-link {
    position: sticky;
    margin-top: 1em;
    z-index: 1000;
    top: 4em;
}

.home-link a {
    text-decoration-line: none;
    font-weight: bolder;
}


/**********************************************************
        Login, Registration and Forgot credentials Forms
***********************************************************/
.centered-form {
    display: flex;
    justify-content: center;
    margin-top: 15em;
}

.main-form {
    border: 1px solid;
    border-radius: 0.5em;
    padding: 2em;
    width: 30em;
}

.form-title {
    margin: 0;
    padding-bottom: 0.4em;
    text-align: center;
}

#login-options {
    display: inline-block;
    padding-top: 0.7em;
}

#login-options span:not(:last-of-type) {
    margin-right: 0.7em;
}

.separator {
    border-left: 1px solid #808080;
}

#login-form #login-options a {
    color: #808080;
    text-decoration-line: none;
}

#login-form #login-options a:hover {
    color: #000;
    text-decoration-line: underline;
}

.main-form form .submit-btn input {
    background-color: #5C69FF;
    border: none;
    border-radius: 0.25em;
    color: #FFF;
    padding: 1em 2em;
    cursor: pointer;
    float: right;
}

.main-form form input[type="text"],
.main-form form input[type="password"],
.main-form form input[type="email"] {
    width: 100%;
    margin: 0.4em 0;
    border-radius: 0.4em;
    border-color: #EBECF0;
    height: 2.5em;
}

.main-form .errors li {
    color: #F00;
}
