/**********************************************************
                    User Profile Page
***********************************************************/
.profile-options {
    display: flex;
    width: 100%;
}

.gallery-select-individual {
    transform: scale(1.5);
    position: absolute;
    top: 0;
    left: 0;
}

.delete-btn {
    font-size: inherit;
    border: none;
    background-color: #F00;
    color: #FFF;
    border-radius: 5px;
    padding: 0.5em;
    text-decoration-line: none;
}

.action-options {
    margin: 1em;
}

.checkbox-section {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1001;
    position: absolute;
    cursor: pointer;
}

.checkbox-section label {
    display: block;
    width: inherit;
    height: inherit;
}

.delete-profile-form {
    display: flex;
    align-items: center;
}

/**********************************************************
                        Image Gallery
***********************************************************/
.no-gallery-container {
    min-height: calc(100vh - 10em);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-image {
    font-weight: bolder;
    font-size: 2em;
}

.gallery-container  {
    display: flex;
    justify-content: center;
}

.gallery-section {
    display: inline-block;
    min-width: 240px;
}

.gallery-image {
    height: 240px;
    width: 240px;

    margin: 10px;
    float: left;
    border: none;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.gallery-image:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gallery-link {
    text-decoration-line: none;
}

.image-thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Top Overlay of image */
.image-overlay-top {
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    height: 2em;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 4em;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image-overlay-top .image-options {
    padding: 0 1em;
    margin-bottom: 0.5em;
}

.image-overlay-top .delete,
.image-overlay-top .edit {
    color: rgba(255, 255, 255, 0.7);
}

.image-overlay-top .delete:hover,
.image-overlay-top .edit:hover {
    color: rgba(255, 255, 255, 1.0);
}

/* Bottom Overlay of image */
.image-overlay-bottom {
    z-index: 1000;
    background-color: #333;
    height: 4em;
    overflow: hidden;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.image-overlay-bottom .image-label,
.image-overlay-bottom .image-metric {
    height: 50%;
}

.image-overlay-bottom .image-label,
.image-overlay-bottom .image-metric  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-label,
.image-metric {
    color: #FFF;
    font-weight: 200;
    font: inherit;
    font-size: 1em;
}

/* Text Scroll */
.scroll {
    /* Animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}
/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.image-metric .metric-section {
    margin: 0 0.5em;
}

.upvote,
.downvote {
    color: #FFF !important;
    text-decoration-line: none;
}

.score {
    width: 4em;
    text-align: center;
    overflow: hidden;
}

.metric-section .upvote:hover,
.metric-section .upvote-selected {
    color: #0F0;
}

.metric-section .downvote:hover,
.metric-section .downvote-selected {
    color: #F00;
}

/**********************************************************
                    Picture Panel
***********************************************************/

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-container .image-metric {
    position: sticky;
    top: 4em;
}

.image-container .total-score {
    color: #FFF;
}

.image-container .image-metric .metric-section {
    padding: 1em 0;
    width: 4em;
    /*margin-right: 2em;*/
    background-color: #333;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.image-container .image-section {
    width: 800px;
    height: auto;
    min-height: 600px;
}

.image-container .image-details {
    background-color: #333;
    width: 100%;
    height: 4em;
    max-height: 80px;
}

.image-container .image-title,
.image-container .image-uploader {
    font-weight: 200;
    padding-left: 30px;
    height: 50%;
    color: #FFF;
    display: flex;
    align-items: center;
}

.image-container .image-uploader a {
    color: #FFF;
}

.image-container .image-section .image-panel {

    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container .image-panel > img {
    max-width: 100%;
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

/**********************************************************
                    Picture Modal
***********************************************************/
.modal {
    display: none;
    z-index: 4000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content .close-modal {
    color: #FFF;
    font-size: 3em;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.modal-content > img {
    margin: auto;
    cursor: -moz-zoom-out; 
    cursor: -webkit-zoom-out; 
    cursor: zoom-out;
}

/**********************************************************
                    User Gallery Panel
***********************************************************/
.user-details-container {
    display: flex;
    align-items: flex-end;
    padding: 1em 0;
    border-bottom: 1px solid #000;
}

.profile-pic {
    display: flex;
    align-items: center;
}

.profile-pic img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFF;
}

.profile-details h1 {
    margin: 0 0.2em;
}

.profile-edit .edit {
    color: #00F;
    text-decoration-line: none;
}