/* Notifications */
.notification-section {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1000;
	width: 50em;
	height: 2em;
	text-align: center;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.notification-message-list div {
	margin: 0.2em 0;
}

.notification-message {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.notification-message-header span {
	float: right;
	padding-right: 0.2em;
	cursor: pointer;
}

.notification-message-body {
	padding-bottom: 2em;
}

.notification-section .error {
    background-color: #F00;
    color: #FFF;
}

.notification-section .info {
    background-color: #3A3B3C;
    color: #FFF;
}

.notification-section .success {
    background-color: #0F0;
    color: #FFF;
}