/* Phone Screens */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
    .settings-container {
        width: 100% !important;
    }

    .settings-menu {
        padding: 0 !important;
    }
    
    .settings-body {
        margin-left: 0 !important;
    }
}

/**********************************************************
                  Settings Container
***********************************************************/
.settings-container {
    display: flex;
    flex-direction: row;
}
/**********************************************************
                  Settings Menu
***********************************************************/
.settings-menu {
    padding: 0 32px;
}

.settings-menu a {
    text-decoration: none;
    color: #808080;
}

.settings-menu a:hover,
.settings-menu .active {
    color: #000;
}

.settings-menu li {
    margin: 2em 0;
    list-style-type: none;
}

/**********************************************************
                  Settings Body
***********************************************************/
.settings-body {
    padding: 0 20px;
    margin-left: 64px;
}

.settings-body div {
    position: absolute;
    display: none;
}

.settings-body div:first-of-type {
    display: block;
}

/**********************************************************
                  Apps Table
***********************************************************/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}