html {
    box-sizing:  border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Aligns placeholder input text */
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

/* Main Content Body */
.main-content {
    margin-top: 4em;
    padding: 0 5em;
}

/* Main Header Navigation Bar */
#main-header-nav {
    background-color: #252a3a;
    position: fixed;
    width: 100%;
    height: 4em;
    top: 0;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#main-header-nav a, #main-footer-nav a {
    text-decoration-line: none;
    color: #FFF;
}

#main-login-options {
    width: 8em;
    display: flex;
    justify-content: space-between;
}

#main-search-options {
    width: 30em;
}

#main-search-options .search-input {
    padding-left: 0.4em;
    border: none;
    width: 95%;
    float: left;
    height: 2.5em;
}

#main-search-options .search-submit {
    width: 5%;
    float: left;
    height: 2.5em;
    border: none;

    border-left: none;
    cursor: pointer;
}

/* Main Footer Navigation Links */
#main-footer-nav {
    background-color: #33353b;
    position: fixed;
    width: 100%;
    height: 2em;
    bottom: 0;
    padding: 0 3em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*  Dropdown */
#main-account-dropdown {
    background-color: #565f6e;
    min-height: 2em;
    width: 10em;
    right: 0;
    top: 4.1em;
    position: absolute;
    margin: 0 1em;
    border-radius: 0.4em;
    z-index: 1000;
}

#main-account-dropdown span {
    padding: 0.6em 0em;
    display: block;
    text-align: center;
}

#main-account-dropdown span:hover {
    background-color: #b4b9c2;
}

#main-account-dropdown[class="show-dropdown"] {
    visibility: visible;
    opacity: 1;
    display: block;
}

#main-account-dropdown[class="hide-dropdown"] {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    display: none;
}

/* Navigate to dashboard link */
.home-link {
    position: absolute;
    margin-top: 1em;
    z-index: 1000;
}

.home-link a {
    text-decoration-line: none;
    font-weight: bolder;
}
