<!DOCTYPE html>
<html lang="en">
	<body style="width: 100%; color: #000 !important;">
		<div class="content" style="margin: 5px auto; border: 1px solid #000 !important; border-radius: 5px; width: 500px; font-size: 2em;">
			<h1 class="header" style="background-color: #252a3a !important; width: 100%; height: 90px; color: #FFF !important;text-align: center;margin: 0;">Imager</h1>
			<p style="padding: 0 32px;">Dear <strong style="color: #0F0 !important;">{{username}}</strong>,</p>
			<p style="padding: 0 32px;">You recently changed your email to this one, kindly confirm the new email to re-activate your account!</p>
			<p class="link" style="width: 100;text-align: center;"><a href="{{activation_link}}" class="activate-link" style="background-color: #0F0 !important;color: #FFF !important;padding: 10px 20px;text-decoration: none;border-radius: 10px;">Activate</a></p>
		</div>
	</body>
</html>