{% extends "base.html" %}

{% block css_block %}
<!-- Form css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}
	<div class="home-link">
		<span><i class="fa fa-arrow-left"></i></span> <a href="{{ url_for('imager.index') }}">Go back to homepage</a>
	</div>

	<div class="centered-form">
		<div class="main-form" id="forgot-form">
			<h1 class="form-title">Forgot Password</h1>
			<h4 class="form-subtitle">Enter the email you used in creating your account and we'll send you a reset link</h4>
			<form method="POST" action="{{ url_for('auth.forgot_password') }}" novalidate>
			    {{ form.csrf_token }}
			    
			    {{ form.email(placeholder="Email") }}
			    {% if form.email.errors %}
			    <ul class="errors">
			    {% for error in form.email.errors %}
			        <li>{{ error }}</li>
			    {% endfor %}
			    </ul>
				{% endif %}

				<div class="submit-btn" id="forgot-submit">
					{{ form.submit() }}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
