{% extends "base.html" %}

{% block content %}
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	    <div class="notification is-danger">
	        {{ messages[0] }}
	    </div>
	{% endif %}
	{% endwith %}
	<form method="POST" action="{{ url_for('auth.login') }}" novalidate>
	    {{ form.csrf_token }}
	    
	    {{ form.username_email.label }} {{ form.username_email(size=20) }}<br/>
	    {% if form.username_email.errors %}
	    <ul class="errors">
	    {% for error in form.username_email.errors %}
	        <li>{{ error }}</li>
	    {% endfor %}
	    </ul>
		{% endif %}

	    {{ form.password.label }} {{ form.password() }}<br/>
	    {% if form.password.errors %}
	    <ul class="errors">
	    {% for error in form.password.errors %}
	        <li>{{ error }}</li>
	    {% endfor %}
	    </ul>
		{% endif %}

	    <input type="submit" value="Submit"><br/>
	</form>
{% endblock %}
