<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="author" content="Vincent M.">
		<meta name="description" content="Image Sharing Website.">
		<title>Imager</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto+Mono:wght@200&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

		<!-- Load icon library -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Main Custom css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

		<!-- Notifications css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/notification.css') }}">
		{% block css_block %}
		{% endblock %}
	</head>

	<body>
		<noscript>JavaScript disabled! Please activate it as websites relies on it.</noscript>

		<!-- Main Navigation Bar -->
		<nav id="main-header-nav" role="navigation">
			<div id="main-home-options">
				<span id="home-link"><a href="{{ url_for('imager.index') }}">Home</a></span>
			</div>

			<div id="main-search-options">
				<form class="search-form" action="">
					<input placeholder="Search for image by name/tag/image id" type="text" class="search-input" id="image-search-input">
					<button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
				</form>
			</div>

			{% block additional_navs %}
			{% endblock %}

			{% if current_user.is_anonymous %}
			<div id="main-login-options">
				<span id="sign-in-link"><a href="{{ url_for('auth.login') }}">Sign In</a></span>
				<span id="sign-up-link"><a href="{{ url_for('auth.registration') }}">Sign Up</a></span>
			</div>
			{% else %}
			<div id="main-account-options">
				<span id="user-account-link">
					<a href="javascript:void(0)" onclick='toggle_dropdown()'>
						<span style="color: #FFF;">{{current_user.username}}</span>&emsp;<i class="fa fa-user"></i> <i class="fa fa-caret-down"></i>
					</a>
				</span>

				<!-- Dropdown navigation -->
				<div class="hide-dropdown" id="main-account-dropdown">
					<a href="{{ url_for('imager.load_images_by_username', username=current_user.username) }}">
						<span id="user-images-link">My Images</span>
					</a>
					<a href="{{ url_for('auth.logout') }}">
						<span id="sign-out-link"><i class="fa fa-power-off"></i>&emsp;Sign Out</span>
					</a>
				</div>
			</div>
			{% endif %}
		</nav>

		<!-- Main Content for the website -->
		<div class="main-content">
			<!-- Notification Section -->
			<div class="notification-section">
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				<div class="notification-message-list">
					{% for category, message in messages %}
					<div class="notification-message {{category}}">
						<div class="notification-message-header">
							<span class="close-notification" id='main-close' onclick='close_notification(this)'>
								<i class="fa fa-window-close"></i>
							</span>
						</div>

						<div class="notification-message-body">
							{{ message }}
						</div>
					</div>
					{% endfor %}
				</div>
				{% endif %}
				{% endwith %}
			</div>


			{% block content %}
			{% endblock %}
		</div>

		<!-- Footer -->
		<footer id="main-footer">
			<nav id="main-footer-nav">
				<div id="main-footer-options">
					<span id="about-link"><a href="">About</a></span>
				</div>
			</nav>
		</footer>
		
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
		{% block js_block %}
		{% endblock %}
	</body>
</html>
