<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="author" content="Vincent M.">
		<meta name="description" content="Image Sharing Website.">
		<title>Imager</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		{% block css_block %}
		{% endblock %}
	</head>

	<body>
		<noscript>JavaScript disabled! Please activate it as websites relies on it.</noscript>


		{% with messages = get_flashed_messages() %}
		{% if messages %}
		    <div class="notification is-danger">
		        {{ messages[0] }}
		    </div>
		{% endif %}
		{% endwith %}

		{% block content %}
		{% endblock %}

		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
		{% block js_block %}
		{% endblock %}
	</body>
</html>
