<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="author" content="Vincent M.">
		<meta name="description" content="Image Sharing Website.">
		{% block meta_block %}
		{% endblock %}
		
		<title>Imager</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto+Mono:wght@200&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

		<!-- Load icon library -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Main Custom css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

		<!-- Notifications css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/notification.css') }}">
		{% block css_block %}
		{% endblock %}
	</head>

	<body>
		<noscript>JavaScript disabled! Please activate it as websites relies on it.</noscript>

		<!-- Main Navigation Bar -->
		<nav class="main-header-nav" role="navigation">
			<div class="main-home-options">
				<span class="home-link"><a href="{{ url_for('imager.index') }}">Home</a></span>
			</div>

			{% block middle_nav_options %}
			{% endblock %}

			<div class="user-options">
				{% block additional_navs %}
				<div class="main-pic-options">
					{% if current_user.is_anonymous %}
					<a href="{{url_for('auth.login')}}" class="add-pic-btn" onclick="window.href"><i class="fa fa-plus"></i> <span>Upload</span></a>
					{% else %}
					<a href="{{url_for('imager.upload_images')}}" class="add-pic-btn" onclick="window.href"><i class="fa fa-plus"></i>  <span>Upload</span></a>
					{% endif %}
				</div>
				{% endblock %}

				{% if current_user.is_anonymous %}
				<div class="main-login-options">
					<span class="sign-in-link"><a href="{{ url_for('auth.login') }}">Sign In</a></span>
					<span class="sign-up-link"><a href="{{ url_for('auth.registration') }}">Sign Up</a></span>
				</div>
				{% else %}
				<div class="main-account-options">
					<span class="user-account-link">
						<a href="javascript:void(0)" onclick='toggle_dropdown()'>
							<span style="color: #FFF;" id>{{current_user.username}}&emsp;<i class="fa fa-user"></i> <i class="fa fa-caret-down"></i></span>
						</a>
					</span>

					<!-- Dropdown navigation -->
					<div class="hide-dropdown" id="main-account-dropdown">
						<a href="{{ url_for('imager.user_profile') }}">
							<span class="user-images-link">User Profile</span>
						</a>
						<a href="{{ url_for('imager.load_images_by_username', username=current_user.username) }}">
							<span class="user-images-link">My Images</span>
						</a>
						<a href="{{ url_for('imager.settings') }}">
							<span class="settings-link"><i class="fa fa-cog"></i>&emsp;Settings</span>
						</a>
						<a href="{{ url_for('auth.logout') }}">
							<span class="sign-out-link"><i class="fa fa-power-off"></i>&emsp;Sign Out</span>
						</a>
					</div>
				</div>
				{% endif %}		
			</div>
		</nav>

		<!-- Main Content for the website -->
		<div class="main-content">
			<!-- Notification Section -->
			<div class="notification-section">
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				<div class="notification-message-list">
					{% for category, message in messages %}
					<div class="notification-message {{category}}">
						<div class="notification-message-body">
							<span class="notification-icon">
								{% if category == "info" %}
								<i class="fa fa-info-circle"></i>
								{% elif category == "success" %}
								<i class="fa fa-check-circle"></i>
								{% elif category == "error" %}
								<i class="fa fa-exclamation-triangle"></i>
								{% endif %}	
								
							</span>
							<span class="notification-content">
								<p>{{ message }}</p>
							</span>
							<span class="notication-close" onclick="close_notification(this)">
								<span>&#x2715;</span>
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
				{% endif %}
				{% endwith %}
			</div>


			{% block content %}
			{% endblock %}
		</div>

		<!-- Footer -->
		<footer class="main-footer">
			<nav class="main-footer-nav">
				<div class="main-footer-options">
					<span class="about-link"><a href="{{ url_for('imager.about') }}">About</a></span>
					<span class="api-link"><a href="{{ url_for('api.api_index') }}">Api</a></span>
				</div>
			</nav>
		</footer>
		
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
		{% if not current_user.is_anonymous %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/authenticated_user.js') }}"></script>
		{% endif %}

		{% block js_block %}
		{% endblock %}
	</body>
</html>
