{% extends "admin_panel/admin_base.html" %}

{% block content %}
<div class="content">
	<table cellspacing="0" cellpadding="0" class="user-details">
		<thead>
			<th colspan="3">AUTHENTICATION AND AUTHORIZATION</th>
		</thead>
		<tbody>
			<tr>
				<td><strong>User</strong></td>
				<td class="option-actions"></td>
				<td class="option-actions"><a href="{{url_for('admin_panel.view_users')}}"><i class="fa fa-eye"></i></a></td>
			</tr>
			<tr>
				<td><strong>Role</strong></td>
				<td class="option-actions"><a href="{{url_for('admin_panel.add_role')}}"><i class="fa fa-plus"></i></a></td>
				<td class="option-actions"><a href="{{url_for('admin_panel.view_roles')}}"><i class="fa fa-eye"></i></a></td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
