{% extends "admin_panel/admin_base.html" %}

{% block breadcrumbs %}
<ol>
    <li class="crumb"><a href="{{ url_for('admin_panel.index') }}">Admin Dashboard</a></li>
    <li class="crumb">View Roles</li>
</ol>
{% endblock %}


{% block content %}
<div class="content">
    <table class="role-table">
        <thead>
            {% set col_size = permissions|length + 3 %}
            <th colspan="{{col_size}}">Roles {% if current_user.can_insert_admin_dashboard() %}<span class="add-header"><a href="{{url_for('admin_panel.add_role')}}"><i class="fa fa-plus"></i> Add Role</a></span>{% endif %}</th>
        </thead>

        <tbody>
            <tr>
                <th>Name</th>
                {% for permission_name in permissions %}
                <th>{{permission_name.name}}</th>
                {% endfor %}
                <th colspan="2">Action</th>
            </tr>
            {% for role in roles %}
            <tr class="center-col">
                <td>{{role.name}}</td>
                {% for permission in permissions %}
                <td>
                    {% if permission.value in role.permission_list%}
                    <input type="checkbox" id="{{role.name}}-{{permission.value}}" name="{{role.name}}-{{permission.value}}" value="{{permission.value}}" checked disabled>
                    {% else %}
                    <input type="checkbox" id="{{role.name}}-{{permission.value}}" name="{{role.name}}-{{permission.value}}" value="{{permission.value}}" disabled>
                    {% endif %}
                </td>
                {% endfor %}
                {% if current_user.can_update_admin_dashboard() %}
                <td><a href="{{url_for('admin_panel.edit_role', role_id=role.id)}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                {% endif %}
                {% if current_user.can_delete_admin_dashboard() %}
                <td><a href="{{url_for('admin_panel.delete_role', role_id=role.id)}}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                {% endif %}
             </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
