{% macro gallery_section(img_link) %}
<div class="gallery-image">
	<a class="gallery-link" href="{{ img_link }}">
		<div class="image-thumbnail">
			{{ caller() }}
		</div>
	</a>
</div>
{% endmacro %}

{% macro gallery_modal() %}
<!-- Image Modal -->
<div id="image-modal" class="modal">
	<div id="image-modal-content" class="modal-content" onclick="close_picture_modal()">
		<img id="image-original" src="#" alt=""/>
	</div>
</div>
{% endmacro %}

{% macro upvote_metric(id, upvote_link, upvote=false, active=false) %}
<div class="metric-section">
    <a href="{% if not active %} {{upvote_link}} {% else %}javascript:void(0){% endif %}" id="{{ id }}" class="{%- if upvote -%}upvote-selected{%- else -%}upvote{%- endif -%}" {% if active %} onclick="upvote(this, '{{upvote_link}}')" {% endif %}>
        <span><i class="fa fa-arrow-up"></i></span>
    </a>
</div>
{% endmacro %}

{% macro downvote_metric(id, downvote_link, downvote=false, active=false) %}
<div class="metric-section">
    <a href="{% if not active %} {{downvote_link}} {% else %} javascript:void(0) {% endif %}" id="{{ id }}" class="{% if- downvote -%}downvote-selected{%- else -%}downvote{%- endif -%}" {% if active %} onclick="downvote(this, '{{downvote_link}}')" {% endif %}>
        <span><i class="fa fa-arrow-down"></i></span>
    </a>
</div>
{% endmacro %}

{% macro total_metric(id, total_score) %}
<div class="metric-section score">
    <span id="{{ id }}" class="total-score">{{ total_score }}</span>
</div>
{% endmacro %}

{% macro edit_option(id, edit_link) %}
<div class="image-options">
    <a class="edit" href="{{ edit_link }}" id="{{ id }}">
        <span><i class="fa fa-edit"></i></span>
    </a>
</div>
{% endmacro %}

{% macro delete_option(id) %}
<div class="image-options">
    <a class="edit" href="javascript:void(0)" id="{{ id }}" onclick="toggle_delete(this)">
        <span><i class="fa fa-trash"></i></span>
    </a>
</div>
{% endmacro %}

{% macro vote_section(metric_dict) %}
<div class="image-metric">
	{% if metric_dict.is_anon %}
	{# Upvote Section #}
	{{ upvote_metric(
		id="upvote-" + metric_dict.image_id,
		upvote_link=metric_dict.login_url) }}
	
	{# Total Section #}
	{{ total_metric(
		id="total-val-" + metric_dict.image_id,
		total_score=metric_dict.total_score) }}

	{# Downvote Section #}
	{{ downvote_metric(
		id="downvote-" + metric_dict.image_id,
		downvote_link=metric_dict.login_url) }}
	{% else %}
	{% set active=true %}
	{% if metric_dict.personal_vote == 1 %}
		{% set upvote=true %}
		{% set downvote=false %}
	{% elif metric_dict.personal_vote == -1 %}
		{% set upvote=false %}
		{% set downvote=true %}
	{% else %}
		{% set upvote=false %}
		{% set downvote=false %}
	{% endif %}

	{# Upvote Section #}
	{{ upvote_metric(
		id="upvote-" + metric_dict.image_id,
		active=active,
		upvote=upvote,
		upvote_link=metric_dict.upvote_link) }}

	{# Total Section #}
	{{ total_metric(
		id="total-val-" + metric_dict.image_id,
		total_score=metric_dict.total_score) }}

	{# Downvote Section #}
	{{ downvote_metric(
		id="downvote-" + metric_dict.image_id,
		active=active,
		downvote=downvote,
		downvote_link=metric_dict.downvote_link) }}
	{% endif %}
</div>
{% endmacro %}
