{% macro search_section() %}
<div class="search-wrap">
	<!-- Seach Bar -->
	<div class="main-search-options">
		<form class="search-form" action="{{url_for('imager.load_gallery_search')}}" method="GET">
			<input placeholder="Search for user, image title, tags" type="text" class="search-input" id="gallery-search-input" name="q" autocomplete="off">
			<button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
		</form>
	</div>

	<!-- Search Suggestion Dropdown -->
	<div class="search-suggestion hide-search-dropdown" id="search-dropdown">
	</div>	
</div>
{% endmacro %}